* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  font-family: "Gilroy", sans-serif;
}

nav {
  background-color: #ffffff;
}

nav .nav-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 82px;
  margin: 0 0 33px auto;
}

nav .nav-block .menu-icon {
  transform: rotate(180deg);
  display: none;
}

nav .nav-block__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav .nav-block__right-options {
  display: flex;
}

nav .nav-block__right-options p {
  display: inline;
  color: #000000;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
}

nav .nav-block__right-options p:last-child {
  margin-left: 15px;
}

nav .nav-block__right-options p::after {
  content: url("/img/nav/arrow-down.svg");
  width: 5px;
  height: 7px;
  vertical-align: middle;
  margin-left: 5px;
}

nav .nav-block__right-btn {
  border: none;
  outline: none;
  font-size: 2.1875rem;
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #FF008A;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
  padding-left: 0;
  margin-left: 85px;
}

nav .nav-block__right-btn::before, nav .nav-block__right-btn::after {
  vertical-align: middle;
}

nav .nav-block__right-btn::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: url("../../img/nav/user.svg");
  background-color: #B20060;
  height: 120%;
  width: 77px;
  margin-right: 50px;
}

nav .nav-block__right-btn::after {
  display: inline-block;
  content: url("../../img/nav/btn-effect.png");
  width: 46px;
  height: 98px;
  margin-left: 60px;
}

nav .nav-items .item {
  display: inline-block;
  height: 100%;
  color: #000000;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  line-height: 4;
  font-weight: 600;
}

nav .nav-items .item:not(:first-child) {
  margin-left: 35px;
}

nav .nav-items .item::after {
  display: block;
  content: "";
  background: #FF008A;
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: width .3s ease-in-out;
}

nav .nav-items .item:hover::after {
  width: 85%;
}

.main-banner {
  position: relative;
  margin-bottom: 120px;
}

.main-banner .banner-content {
  position: absolute;
  top: 35%;
  left: 8%;
  color: #fff;
  max-width: 550px;
}

.main-banner .banner-content__title {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 60px;
  font-size: 3.125rem;
}

.main-banner .banner-content__text {
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 500;
  font-size: 1.25rem;
}

.main-banner .banner-content__button {
  display: block;
  width: fit-content;
  text-decoration: none;
  background-color: #FF008A;
  padding: 9px 11px 7px 43px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 48px;
  position: relative;
}

.main-banner .banner-content__button::before {
  content: "+";
  font-size: 1.5625rem;
  background-color: #B20060;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-banner .arrows-block {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.main-banner .arrows-block__left, .main-banner .arrows-block__right {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.main-banner .arrows-block__left {
  background: url("../../img/main-banner/arrow-left-bg.svg") no-repeat;
}

.main-banner .arrows-block__right {
  margin-left: 8px;
  background: url("../../img/main-banner/arrow-right-bg.svg") no-repeat;
}

.fortnite-packages {
  background-image: url("../../img/fortnite-package/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 312px 0 258px 0;
}

.fortnite-packages h2 {
  margin-left: 7.5%;
  margin-bottom: 112px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 48px;
  color: #fff;
}

.fortnite-packages__blocks {
  margin-left: 7.5%;
  display: flex;
}

.fortnite-packages__blocks__block {
  height: 500px;
  width: 350px;
  background-image: url("../../img/fortnite-package/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.fortnite-packages__blocks__block .sale {
  width: 160px;
  height: 37px;
  background-image: url("../../img/fortnite-package/bg-sale.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: 900;
  font-size: 23px;
  line-height: 29px;
  color: #FFFFFF;
  padding-bottom: 2px;
}

.fortnite-packages__blocks__block .price {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.fortnite-packages__blocks__block .price .count {
  width: 50%;
  height: 50px;
  background-image: url("../../img/fortnite-package/bg-price.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #FFFFFF;
}

.fortnite-packages__blocks__block .price .count span {
  font-size: 16px;
  font-weight: 700;
  margin-top: 3%;
}

.fortnite-packages__blocks__block .price .buy {
  display: flex;
  height: 50px;
  width: 50%;
}

.fortnite-packages__blocks__block .price .buy .img {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #B20060;
}

.fortnite-packages__blocks__block .price .buy .text {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  background: #FF008A;
}

.fortnite-packages__blocks__block .price .buy .text p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-right: 14px;
}

.vbucks {
  margin: 88px 120px 241px 77px;
}
