* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FCFCFC;
  font-family: "Gilroy", sans-serif;
}

.header {
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-around;
}

.header__logo {
  width: 165px;
  height: 78px;
  object-fit: cover;
}

.header__links {
  display: flex;
  margin-left: 158px;
}

.header__links .link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 35px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  cursor: pointer;
  position: relative;
}

.header__links .link::after {
  display: block;
  content: "";
  background: #FF008A;
  height: 3px;
  width: 0%;
  left: 50%;
  bottom: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: width .3s ease-in-out;
}

.header__links .link:hover::after {
  width: 100%;
}

.header__language {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 158px;
  position: relative;
}

.header__language p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-right: 7px;
}

.header__language img {
  cursor: pointer;
}

.header__language .list-language {
  position: absolute;
  display: none;
  z-index: 1;
  top: 100%;
  left: -30px;
  padding: 6px 0;
  background: #fff;
}

.header__language .list-language p {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  width: 100%;
  padding: 5px 22px;
  line-height: 20px;
  color: #AEAEAE;
  cursor: pointer;
}

.header__language .list-language p:last-child {
  margin-bottom: 0;
}

.header__language .list-language p:hover {
  background: #FF008A;
  color: #FFFFFF;
}

.header__user {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

.header__user p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.header__user .avatar {
  width: 74px;
  height: 74px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 17px;
}

.header__user .open {
  cursor: pointer;
}

.header__user__func {
  position: absolute;
  right: 0;
  top: 100px;
  background-color: #fff;
  width: 142px;
  height: 110px;
  box-shadow: 0px 13px 14px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  display: none;
  padding: 8px 0;
}

.header__user__func p {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #AEAEAE;
}

.header__user__func .settings {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px 5px 14px;
  cursor: pointer;
  position: relative;
}

.header__user__func .settings:hover {
  background: #FF008A;
}

.header__user__func .settings:hover svg path {
  fill: #fff;
}

.header__user__func .settings:hover p {
  color: #fff;
}

.header__user__func .settings__list {
  position: absolute;
  top: 0;
  left: -179px;
  width: 179px;
  height: 77px;
  background-color: #fff;
  padding: 8px 0;
  display: none;
}

.header__user__func .settings__list p {
  width: 100%;
  padding: 5px 19px 5px 0;
  display: flex;
  justify-content: flex-end;
  color: #AEAEAE !important;
  cursor: pointer;
}

.header__user__func .settings__list p:hover {
  background: #FF008A;
  color: #fff !important;
}

.header__user__func .withdraw {
  padding: 5px 25px 5px 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.header__user__func .withdraw:hover {
  background: #FF008A;
}

.header__user__func .withdraw:hover p {
  color: #fff;
}

.header__user__func .exit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  border-top: 1px solid #F6F6F6;
  padding: 7px 26px 5px 0;
}

.header__user__func .exit img {
  cursor: pointer;
}

.header__user__func .exit p {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: 9px;
  cursor: pointer;
}

main {
  width: 95%;
  margin: 0 auto;
}

main .tbl {
  margin-top: 50px;
  max-height: 843px;
  overflow: hidden;
}

main .tbl table {
  border-collapse: collapse;
  width: 100%;
  padding: 0 45px;
}

main .tbl table .tbl-header {
  background-color: #ffffff;
  border-bottom: 7px solid #FCFCFC;
}

main .tbl table .tbl-header tr th {
  color: #000000;
  line-height: 30px;
  font-size: 1.5625rem;
  text-transform: uppercase;
  padding: 25px 0;
}

main .tbl table .tbl-content {
  background-color: #ffffff;
}

main .tbl table .tbl-content tr {
  border-bottom: 3px solid #FCFCFC;
}

main .tbl table .tbl-content tr td {
  text-align: center;
  color: #3D3D3D;
  line-height: 24px;
  font-size: 1.25rem;
  padding: 28px 0;
  font-weight: 500;
  vertical-align: middle;
}

main .tbl table .tbl-content tr td .circle {
  margin: auto;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .tbl table .tbl-content tr td .circle.red {
  background-color: rgba(241, 19, 19, 0.26);
}

main .tbl table .tbl-content tr td .circle.red .c2 {
  background-color: #F11313;
}

main .tbl table .tbl-content tr td .circle.orange {
  background-color: rgba(255, 138, 0, 0.26);
}

main .tbl table .tbl-content tr td .circle.orange .c2 {
  background-color: #FF8A00;
}

main .tbl table .tbl-content tr td .circle .c2 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

main .tbl table .tbl-content tr td .pass-btn {
  background: #FFFFFF;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
  cursor: pointer;
}

main .tbl table .tbl-content tr td .ex-state {
  margin: auto;
  max-width: 143px;
  padding: 8px 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

main .tbl table .tbl-content tr td .ex-state p {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.0625rem;
  font-weight: 600;
}

main .tbl table .tbl-content tr td .ex-state p::before {
  margin-right: 15px;
}

main .tbl table .tbl-content tr td .ex-state.success {
  background-color: #68B404;
}

main .tbl table .tbl-content tr td .ex-state.success p::before {
  content: url("../../img/table/ok.svg");
  width: 15px;
  height: 11px;
}

main .tbl table .tbl-content tr td .ex-state.orange {
  background-color: #FF8A00;
}

main .tbl table .tbl-content tr td .ex-state.orange p::before {
  content: url("../../img/table/message-icon.svg");
  width: 17px;
  height: 17px;
  vertical-align: middle;
}

main .tbl table .tbl-content tr .col__id {
  color: #AEAEAE;
}

main .tbl table .tbl-content tr .col__type {
  font-weight: 600;
}

main .tbl table .tbl-content tr .col__pass {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AEAEAE;
}

main .tbl table .tbl-content tr .col__pass input {
  background: #FFFFFF;
  max-width: 176px;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 17px;
  color: #3D3D3D;
}

.popop-change-password {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(15, 0, 37, 0.46);
  width: 100%;
  height: 100%;
}

.popop-change-password__block {
  width: 595px;
  height: 604px;
  margin: 9% auto;
  background: #FFFFFF;
  border-radius: 14px;
  position: relative;
  padding: 86px 67px 43px 67px;
}

.popop-change-password__block .close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.popop-change-password__block .current-password p {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.66);
  margin-bottom: 5px;
}

.popop-change-password__block .current-password__input {
  margin-bottom: 70px;
}

.popop-change-password__block .current-password__input:last-child {
  margin-bottom: 0;
}

.popop-change-password__block .current-password__input .input {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.39683px solid rgba(0, 0, 0, 0.75);
  padding: 10px 0;
}

.popop-change-password__block .current-password__input .input input {
  width: 85%;
  font-style: normal;
  font-weight: 500;
  font-size: 27.9365px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.66);
  border: none;
  outline: none;
}

.popop-change-password__block .current-password__input .input input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
}

.popop-change-password__block .current-password__input .input img {
  cursor: pointer;
}

.popop-change-password__block .current-password .correctly .input {
  border-bottom: 1.39683px solid #68B404;
}

.popop-change-password__block .current-password .wrong .input {
  border-bottom: 1.39683px solid rgba(255, 0, 0, 0.75);
}

.popop-change-password__block .current-password .wrong .input input::placeholder {
  color: #FF4040;
}

.popop-change-password__block .current-password .wrong__text p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FF001E;
}

.popop-change-password__block .confirm-password {
  margin-top: 43px;
  margin-bottom: 60px;
}

.popop-change-password__block .confirm-password p {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.66);
  margin-bottom: 5px;
}

.popop-change-password__block .confirm-password .input {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.39683px solid rgba(0, 0, 0, 0.75);
  padding: 10px 0;
}

.popop-change-password__block .confirm-password .input input {
  width: 85%;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  border: none;
  outline: none;
}

.popop-change-password__block .confirm-password .input input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
}

.popop-change-password__block .confirm-password .input img {
  cursor: pointer;
}

.popop-change-password__block .change {
  width: 100%;
  outline: none;
  height: 64px;
  background: #FF008A;
  border-radius: 10.8777px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 27.1942px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

.popop-enter-email {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(15, 0, 37, 0.46);
  width: 100%;
  height: 100%;
}

.popop-enter-email__block {
  width: 595px;
  height: 290px;
  margin: 15% auto;
  background: #FFFFFF;
  border-radius: 14px;
  position: relative;
  padding: 53px 63px 47px 63px;
}

.popop-enter-email__block .close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.popop-enter-email__block p {
  font-style: normal;
  font-weight: 500;
  font-size: 22.3492px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.66);
}

.popop-enter-email__block__input {
  margin-top: 25px;
  margin-bottom: 10px;
}

.popop-enter-email__block__input .input {
  border-bottom: 1.39683px solid rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 4px 0;
}

.popop-enter-email__block__input .input input {
  outline: none;
  width: 100%;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 27.9365px;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.75);
}

.popop-enter-email__block__input .input input::placeholder {
  color: #AEAEAE;
  font-style: normal;
  font-weight: 500;
  font-size: 27.9365px;
  line-height: 33px;
}

.popop-enter-email__block__input .wrong {
  border-bottom: 1.39683px solid rgba(255, 64, 64, 0.75);
}

.popop-enter-email__block__input .wrong__text p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FF001E;
}

.popop-enter-email__block button {
  width: 100%;
  height: 64px;
  cursor: pointer;
  background: #FF008A;
  border-radius: 10.8777px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 27.1942px;
  line-height: 32px;
  color: #FFFFFF;
}

.popop-enter-code {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(15, 0, 37, 0.46);
  width: 100%;
  height: 100%;
}

.popop-enter-code__block {
  width: 595px;
  height: 290px;
  margin: 15% auto;
  background: #FFFFFF;
  border-radius: 14px;
  position: relative;
  padding: 53px 63px 47px 63px;
}

.popop-enter-code__block .close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.popop-enter-code__block p {
  font-style: normal;
  font-weight: 500;
  font-size: 22.3492px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.66);
}

.popop-enter-code__block__input {
  margin-top: 25px;
  margin-bottom: 10px;
}

.popop-enter-code__block__input .input {
  border-bottom: 1.39683px solid rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 4px 0;
}

.popop-enter-code__block__input .input input {
  outline: none;
  width: 100%;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 27.9365px;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.75);
}

.popop-enter-code__block__input .wrong {
  border-bottom: 1.39683px solid rgba(255, 64, 64, 0.75);
}

.popop-enter-code__block__input .wrong__text p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FF001E;
}

.popop-enter-code__block button {
  width: 100%;
  height: 64px;
  cursor: pointer;
  background: #FF008A;
  border-radius: 10.8777px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 27.1942px;
  line-height: 32px;
  color: #FFFFFF;
}
