@media screen and (min-width: 2560px) {
    nav .nav-block {
        max-width: 1920px;
        margin: auto;
    }
}

@media screen and (min-width: 2150px) {
    .special-block {
        max-width: 1723px;
    }
}

@media screen and (min-width: 1920px) {
    .main-banner {
        max-width: 1920px;
    }
}

@media screen and (max-width: 1920px) {
    .special-block {
        max-width: 85%;
    }
}

@media screen and (max-width: 1579px) {
    .special-block__items-item {
        &:last-child {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 1380px) {

}

@media screen and (max-width: 1350px) {
    nav .nav-block__right-btn {
        margin-left: 40px;
    }
}

@media screen and (max-width: 1250px) {
    nav .nav-block {
        width: 95%;
    }

    nav .nav-block__right-btn::before {
        margin-right: 20px;
    }

    nav .nav-block__right-btn::after {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1175px) { 

}

@media screen and (max-width: 1050px) { 
    .special-block__items-item {
        &:not(:first-child) {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 1050px) {
    nav .nav-block__right-btn {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1024px) {
    nav .nav-block {
        margin: 0 auto;
    }
    
    nav .nav-block__right-btn {
        margin-left: 10px;
    }

    nav .nav-block__right {
        display: none;
    }

    nav .nav-block .menu-icon {
        display: block;
    }
}

@media screen and (max-width: 880px) {

}