@media screen and (max-width: 4096px) {
    .fortnite-packages {
        max-width: 1920px;
        margin: 0 auto;
    }

    .vbucks {
        max-width: 1920px;
        margin: 88px auto 241px auto;
    }

    .discount {
        max-width: 1920px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 2560px) {
    nav .nav-block {
        max-width: 1920px;
        margin: auto;
    }
}

@media screen and (min-width: 2150px) {
    .special-block {
        max-width: 1723px;
    }
}

@media screen and (min-width: 1920px) {
    .main-banner {
        max-width: 1920px;
    }
}

@media screen and (max-width: 1920px) {
    .special-block {
        max-width: 85%;
    }

    .fortnite-packages {
        margin: 0;
    }

    .vbucks {
        margin: 88px 120px 241px 77px;
    }

    .discount {
        margin: 0;
    }
}

@media screen and (max-width: 1880px) {
    .fortnite-packages {
        padding: 282px 0 244px 0;
    }
}

@media screen and (max-width: 1820px) {
    .fortnite-packages {
        padding: 294px 0 248px 0;
        & h2 {
            margin-bottom: 90px;
            margin-left: 7%;
        }

        &__blocks {
            margin-left: 7%;
            &__block {
                width: 340px;
                margin-right: 50px;
                height: 470px;
            }
        }
    }

    .vbucks__blocks {
        justify-content: space-around;

        &__block {
            margin-bottom: 60px;
        }
    }

    .discount {
        padding: 488px 500px 178px 770px;
    }
}

@media screen and (max-width: 1700px) {
    .fortnite-packages {
        padding: 285px 0 200px 0;

        &__blocks__block {
            width: 320px;
            margin-right: 40px;
            height: 450px;
        }
    }

    .vbucks {
        margin-bottom: 100px;
    }

    .discount {
        padding: 408px 470px 178px 700px;
    }

    .nav__inf {
        margin-right: 60px;
    }
}

@media screen and (max-width: 1600px) {
    .fortnite-packages {
        padding: 245px 0 180px 0;
    }
}

@media screen and (max-width: 1579px) {
    .special-block__items-item {
        &:last-child {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 1500px) {
    .fortnite-packages {
        background-image: url("../../img/fortnite-package/bg-1500.png");

        &__blocks {
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .discount {
        padding: 408px 400px 178px 650px;
    }

    .nav__inf {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1380px) {
    .main-banner .slider-item.first {
        background: url("../../img/main-banner/banner.png") top left -250px no-repeat;
    }
}

@media screen and (max-width: 1370px) {
    .discount {
        background-image: url("../../img/footer/bg-discount-1360.png");
        padding: 408px 300px 178px 500px;
    }

    .nav__links a {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1350px) {
    nav .nav-block__right-btn {
        margin-left: 40px;
    }
}

@media screen and (max-width: 1255px) {
    .discount {
        padding: 408px 200px 178px 500px;
    }

    .nav__logo {
        & img {
            display: none;
        }
        background-image: url("../../img/footer/logo-1255.png");
        width: 140px;
        height: 66px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 1250px) {
    nav .nav-block {
        width: 95%;
    }

    nav .nav-block__right-btn::before {
        margin-right: 20px;
    }

    nav .nav-block__right-btn::after {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1175px) { 
    .main-banner .slider-item.first {
        background: url("../../img/main-banner/banner.png") top left -360px no-repeat;
    }
}

@media screen and (max-width: 1162px) {
    .fortnite-packages {
        padding: 385px 0 180px 0;
        
        &__blocks {
            justify-content: space-around; 

           &__block {
               margin-right: 40px;
               margin-bottom: 20px;
           }
        }
    }

    .discount {
        background-image: url("../../img/footer/bg-discount-1162.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 408px 350px 178px 300px;
    }

    .nav {
        &__logo {
            margin-right: 20px;
        }

        &__links {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            & a {
                margin-bottom: 10px;
            }
        }
    }
}



@media screen and (max-width: 1050px) { 
    .discount {
        padding: 408px 300px 178px 200px;
    }

    .nav__links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .nav__inf {
        width: 200px;
    }
}

@media screen and (max-width: 1050px) {
    .special-block__items-item {
        &:not(:first-child) {
            margin-top: 30px;
        }
    }

    nav .nav-block__right-btn {
        margin-left: 10px;
    }

    .main-banner .slider-item.first {
        background: url("../../img/main-banner/banner.png") top left -460px no-repeat;
    }
}

@media screen and (max-width: 1024px) {
    nav .nav-block {
        margin: 0 auto;
    }
    
    nav .nav-block__right-btn {
        margin-left: 10px;
    }

    nav .nav-block__right {
        display: none;
    }

    nav .nav-block .menu-icon {
        display: block;
    }

    // nav .nav-block .nav-block__logo {
    //     order: 2;
    // }
    // nav .nav-block .menu-icon {
    //     order: 1;
    // }
    // nav .nav-block .nav-items {
    //     order: 3;
    // }
}

@media screen and (max-width: 900px) {
    .fortnite-packages {
        background-image: url("../../img/fortnite-package/bg-900.png");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 600px 0 450px 0;

        & h2 {
            margin: 0 0 90px 0;
            font-size: 60px;
        }

        &__blocks {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;

            &__block {
                margin-bottom: 60px;
                width: 500px;
                height: 700px;
                margin: 0 0 60px 0;
            }
        }
    }

    .vbucks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 88px 77px 100px 77px;

        &__title {
            align-items: flex-end; 
            
            & p {
                font-size: 55px;
            }
        }

        &__blocks {
            margin-left: 0;
            width: 100%;

            &__block {
                margin-right: 0;
                width: 100%;
            }
        }
    }

    .discount {
        background-image: url("../../img/footer/bg-discount-900.png");
        padding: 608px 0 178px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & h2 {
            font-size: 65px;
        }

        & p {
            font-size: 30px;
            line-height: 40px;
            margin: 10px 10% 30px 10%;
            text-align: center;
        }
    }

    .nav {
        height: 200px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;

        &__logo {
            // background-image: url("../../img/footer/logo-900.png");
            margin: 0;
            background-repeat: no-repeat;
        }

        &__links {
            display: flex;
            margin: 0 20px;
        }

        &__inf {
            margin: 0;
            width: auto;
            text-align: center;
        }
    }
}

@media screen and (max-width: 880px) {
    .main-banner .arrows-block {
        display: none;
    }

    .main-banner .slider-arrow-right {
        display: block;
    }
}

@media screen and (max-width: 830px) {
    .fortnite-packages {
        padding: 400px 0 380px 0;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 760px) {
    .fortnite-packages {
        padding: 330px 0 180px 0;
    }
}

@media screen and (max-width: 720px) {
    .main-banner .slider-item.first {
        background: url("../../img/main-banner/banner.png") top left -600px no-repeat;
    }
}

@media screen and (max-width: 700px) {
    .fortnite-packages {
        padding: 310px 0 70px 0;

        & h2 {
            font-size: 40px;
        }

        &__blocks__block {
            width: 450px;
            height: 620px;
        }
    }

    .discount {
        & p {
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 680px) {
    .main-banner .banner-content {
        max-width: 450px;
        left: 15%;
        top: 20%;
    }

    .main-banner .slider-counter {
        left: 5%;
    }
}

@media screen and (max-width: 665px) {
    .special-block__title-main {
        text-align: center;
    }
    
    .special-block__title-shadow {
        font-size: 8rem;
        left: 10%;
        top: -115%;
    }
}

@media screen and (max-width: 600px) {
    nav .nav-block .nav-items {
        display: none;
    }

    .special-block__title-shadow {
        font-size: 6.5rem;
        top: -120%;
    }

    .fortnite-packages {
        padding: 210px 0 70px 0;

        & h2 {
            margin-bottom: 50px;
        }
    }

    .vbucks {
        margin: 88px 30px 100px 30px;

        &__title {
            width: 450px;
    
            & p {
                font-size: 42px;
            }
        }
    }

    .discount {
        padding: 508px 0 178px 0;

        & h2 {
            font-size: 40px;
        }

        & p {
            font-size: 20px;
            line-height: 30px;
            margin: 10px 10% 30px 10%;
            text-align: center;
        }

        & .form {
            & .input {
                width: 350px;
            }

            & .btn {
                width: 160px;
                margin-left: 80%;
                -webkit-transform: skew(337deg);

                & button {
                    -webkit-transform: skew(22deg);
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .main-banner .slider-counter {
        display: none;
    }

    .main-banner .banner-content {
        top: 30%;
        left: 10%;
    }

    .main-banner .banner-content__button {
        margin-top: 20px;
    }

    .main-banner .banner-content__title {
        font-size: 2.5rem;
    }

    .main-banner .banner-content__text {
        max-width: 85%;
    }

    .fortnite-packages {
        & h2 {
            font-size: 32px;
        }

        &__blocks__block {
            width: 370px;
            height: 550px;
        }
    }

    .vbucks {
        &__title {
            width: 380px;

            & p {
                font-size: 35px;
                margin-bottom: 20px;
            }
        }

        &__blocks__block {
            padding-top: 21px;
            & .left {
                &__banner {
                    box-shadow: 0px 7px 20px rgba(255, 0, 92, 0.26);
                    margin: 0 0 37px 25px;

                    & img {
                        height: 13.33336353302002px;
                        width: 13.332174301147461px;
                    }

                    & p {
                        font-size: 13px;
                        line-height: 16px;
                    }
                }

                &__count {
                    margin-left: 25px;
                    margin-bottom: 36px;

                    & img {
                        height: 31px;
                        width: 29px;
                        margin-left: 74%;
                        margin-top: 0;
                    }

                    & h2 {
                        font-size: 30px;
                        line-height: 36px;
                    }

                    & p {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }

                &__saleandprice {
                    margin-left: 25px;
                    margin-bottom: 18px;

                    & p {
                        font-size: 13px !important;
                        line-height: 16px !important;

                        & span {
                            font-size: 10px !important;
                        }
                    }
                }
            }

            & .right {
                &__img {
                    width: 205px;
                }

                &__btn {
                    & .btn {
                        & .img img {
                            height: 15.017643928527832px;
                            width: 13.353814125061035px;
                        }

                        & .text {
                            & p {
                                font-size: 13px;
                            }

                            & img {
                                width: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    .discount {
        & .form {
            & .input {
                width: 330px;
            }

            & .btn {
                width: 130px;

                & button {
                    & p {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    .nav__links a {
        font-size: 17px;
    }
}

@media screen and (max-width: 530px) { 
    .special-block__items-item__content__price .price-block {
        margin-left: 0;
    }

    .special-block__items-item__content__price .price-block p {
        font-size: 0.875rem;
    }

    .special-block__items-item__content__val .value {
        font-size: 1.875rem;
    }

    .special-block__items-item__content__val .sub {
        font-size: 0.75rem;
    }

    .special-block__items-item {
        padding: 25px 0 28px 31px;
    }

    .special-block__items-item__content__img {
        text-align: end;
    }

    .special-block__items-item__content__val {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .fortnite-packages {
        & h2 {
            font-size: 28px;
        }

        &__blocks__block {
            width: 320px;
            height: 480px;
        }
    }

    .special-block__title-shadow {
        width: 100%;
        left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 450px) { 
    .special-block__title-shadow {
        font-size: 5.5rem;
        top: -92%;
    }
}