* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCFCFC;
    font-family: "Gilroy", sans-serif;
}

.pc {
    color: #FF008A;
    font-weight: bold;
}

nav {
    background-color: #ffffff;

    .nav-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 82px;
        margin: 0 0 33px auto;

        &-logo {}

        .menu-icon {
            transform: rotate(180deg);
            display: none;
        }

        &__right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            &-options {
                display: flex;
                p {
                    display: inline;
                    color: #000000;
                    font-weight: 600;
                    font-size: 1.25rem;
                    cursor: pointer;

                    &:last-child {
                        margin-left: 15px;
                    }

                    &::after {
                        content: url("../../img/nav/arrow-down.svg");
                        width: 5px;
                        height: 7px;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                }
            }

            &-btn {
                border: none;
                outline: none;
                font-size: 2.1875rem;
                height: 100%;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 500;
                background-color:  #FF008A;
                box-sizing: content-box;
                position: relative;
                overflow: hidden;
                padding-left: 0;
                margin-left: 85px;
                
                &::before, &::after {
                    vertical-align: middle;
                }

                &::before {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    content:url("../../img/nav/user.svg");
                    background-color: #B20060;
                    height: 100%;
                    width: 77px;
                    margin-right: 50px;
                }

                &::after {
                    display: inline-block;
                    content: url("../../img/nav/btn-effect.png");
                    width: 46px;
                    height: 82px;
                    margin-left:60px;
                }
            }
        }
    }

    .nav-items {
        .item {
            display: inline-block;
            height: 100%;
            color: #000000;
            font-size: 1.25rem;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            line-height: 4;
            font-weight: 600;

            &:not(:first-child) {
                margin-left: 35px;
            }

            &::after {
                display: block;
                content:"";
                background: #FF008A;
                height: 3px;
                width: 0%;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                transition: width .3s ease-in-out;
            }

            &:hover::after {
                width: 85%;
            }
        }   
    }

    .menu-burger-block {
        z-index: 10;
        position: absolute;
        top: -50%;
        left: 0;
        right: 0;
        background-color: #F9F9F9;
        transition: .3s all;
        padding-bottom: 10px;
        border-radius: 10px;

        .close-menu {
            display: block;
            margin: 20px 20px 20px auto;
        }

        .menu-burger {
            display: flex;
            justify-content: space-between;
            width: 96%;
            margin: auto;
        }
    }
}

.main-banner {
    position: relative;
    width: fit-content;
    margin: 0 auto 120px auto;
    width: 100%;

    .slider-arrow-right {
        position: absolute;
        top: 50%;
        right: 5%;
        width: 15px;
        height: 24px;
        display: none;

        img {
            max-width: none;
            height: 55px;
        }
    }

    .slider-counter {
        position: absolute;
        top: 40%;
        left: 3%;

        &__top,&__bottom {
            color:rgba(255, 255, 255, 0.25);
            font-size: 0.9375rem;
            line-height: 18px;
            font-weight: 600;

            &.active {
                color: #ffffff;
            }
        }

        &__top {
            margin-bottom: 6px;
        }
        
        &__bottom {
            margin-top: 6px;
        }

        &__line {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-top, &-bottom {
                height: 75px;
                width: 2px;
                background-color:rgba(255, 255, 255, 0.25);
                border-radius: 62px;

                &.active {
                    background-color:#FF008A;
                }
            }

        }
    }

    & .slider-item {

        &.first {
            width: 100%;
            height: 483px;
            background: url("../../img/main-banner/banner.png") no-repeat;
        }
    }

    .banner-content {
        position: absolute;
        top: 35%;
        left: 8%;
        color: #fff;
        max-width: 550px;

        &__title {
            text-transform: uppercase;
            font-weight: bold;
            line-height: 60px;
            font-size: 3.125rem;
        }

        &__text {
            text-transform: uppercase;
            line-height: 24px;
            font-weight: 500;
            font-size: 1.25rem;
        }

        &__button {
            display: block;
            width: fit-content;
            text-decoration: none;
            background-color: #FF008A;
            padding: 9px 11px 7px 43px;
            color: #ffffff;
            text-transform: uppercase;
            line-height: 24px;
            font-size: 1.25rem;
            font-weight: 600;
            margin-top: 48px;
            position: relative;

            &::before {
                content: "+";
                font-size: 1.5625rem;
                background-color: #B20060;
                position: absolute;
                top: 0;
                left: 0;
                width: 32px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .arrows-block {
        display: flex;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);

        &__left, &__right {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 50px;
            height: 50px;
        }

        &__left {
            background: url('../../img/main-banner/arrow-left-bg.svg') no-repeat;
        }

        &__right {
            margin-left: 8px;
            background: url('../../img/main-banner/arrow-right-bg.svg') no-repeat;
        }
    }
}

.special-block{
    max-width: 83%;
    margin: 0 auto 50px auto;

    &__title {
        position: relative;
        margin-bottom: 96px;

        &-main {
            color: #000000;
            font-size: 2.5rem;
            line-height: 48px;
            font-weight: bold;
            z-index: 1;
        }

        &-shadow {
            position: absolute;
            top: -150%;
            left: -4%;
            color: rgba(228, 0, 219, 0.03);
            font-weight: bold;
            font-size: 9.375rem;
            z-index: -1;
        }
    }

    &__items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &-item {
            position: relative;
            max-width: 500px;
            max-height: 320px;
            height: 100%;
            background-color: #FFFFFF;
            box-sizing: border-box;
            padding: 50px 0 28px 31px;
            box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.1);

            &__offer {
                display: block;
                color: #ffffff;
                text-transform: uppercase;
                background-color: #FF008A;
                padding: 6px 17px 5px 14px;
                max-width: 200px;
                font-weight: 700;
                line-height: 24px;
                font-size: 1.25rem;
                box-shadow: 0px 7px 20px rgba(255, 0, 138, 0.26);

                &::before {
                    content: url("../../img/special-offer/lighting.svg");
                    width: 14px;
                    height: 17px;
                    margin-right: 12px;
                    vertical-align: middle;
                }
            }

            &__content {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__val {

                    .value {
                        color: #000000;
                        font-weight: bold;
                        line-height: 48px;
                        font-size: 2.5rem;
                        position: relative;
                        display: flex;
                        flex-direction: column;

                        &::after {
                            content: url("../../img/special-offer/dots.svg");
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            top: 0;
                            right: 29%;
                        }
                    }

                    .sub {
                        line-height: 21px;
                        font-size: 1.125rem;
                        font-weight: 600;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }

                &__img {
                    margin-bottom: 20px;
                }

                &__price {
                    display: flex;
                    margin-top: 40px;

                    .price-discount, .price-block {
                        padding: 8px 13px;

                        &-size {
                            font-size: 0.975rem;
                        }

                        p {
                            font-family: "Gilroy-SemiBold";
                            font-weight: 600;
                            font-size: 1.25rem;
                            line-height: 24px;
                        }
                    }

                    .price-discount {
                        background-color: #F9F9F9;
                        
                        p {
                            color: #FF008A;
                        }
                    }

                    .price-block {
                        background-color: #FF008A;
                        margin-left: 4px;
        
                        p {
                            color:  #FFFFFF;
                        }
                    }
                }
            }

            &__button {
                position: absolute;
                bottom: 0;
                right: 0;

                button {
                    font-family: "Gilroy-SemiBold";
                    position: relative;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-weight: 600;
                    line-height: 21px;
                    font-size: 1.125rem;
                    outline: none;
                    border: none;
                    padding: 15px 12px 15px 49px;
                    background-color: #FF008A;

                    &::after {
                        content: url("../../img/special-offer/arrow-right.svg");
                        margin-left: 14px;
                    }

                    &::before {
                        content: url("../../img/special-offer/cart.svg");
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: #B20060;
                        height: 100%;
                        width: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.fortnite-packages {
    background-image: url("../../img/fortnite-package/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 312px 0 258px 0;

    & h2 {
        margin-left: 7.5%;
        margin-bottom: 112px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 48px;
        color: #fff;
    }

    &__blocks {
        margin-left: 7.5%;
        display: flex;

        & .block-1 {
            background-image: url("../../img/fortnite-package/1.png");
        }

        & .block-2 {
            background-image: url("../../img/fortnite-package/2.png");
        }

        & .block-3 {
            background-image: url("../../img/fortnite-package/3.png");
        }
        
        &__block {
            height: 500px;
            width: 350px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 70px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            & .sale {
                width: 160px;
                height: 37px;
                background-image: url("../../img/fortnite-package/bg-sale.png");
                background-size: contain;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                justify-content: center;

                font-style: italic;
                font-weight: 900;
                font-size: 23px;
                line-height: 29px;
                color: #FFFFFF;
                padding-bottom: 2px;
            }

            & .price {
                display: flex;
                align-items: flex-end;
                width: 100%;

                & .count {
                    width: 50%;
                    height: 50px;
                    background-image: url("../../img/fortnite-package/bg-price.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-style: normal;
                    font-weight: 700;
                    font-size: 23px;
                    line-height: 28px;
                    color: #FFFFFF;

                    & span {
                        font-size: 16px;
                        font-weight: 700;
                        margin-top: 3%;
                    }
                }

                & .buy {
                    display: flex;
                    height: 50px;
                    width: 50%;

                    & .img {
                        width: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #B20060;
                    }

                    & .text {
                        display: flex;
                        width: 80%;
                        align-items: center;
                        justify-content: center;
                        background: #FF008A;

                        & p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 21px;
                            color: #FFFFFF;
                            margin-right: 14px;
                        }
                    }
                }
            }
        }
    }
}

.vbucks {
    margin: 88px 120px 241px 77px;

    &__title {
        width: 567px;
        height: 121px;
        background-image: url("../../img/vbucks-packages/bg-title.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 103px;

        & p {
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            color: #000000;

            & span {
                color: #FF008A;
                font-weight: 700;
            }
        }
    }

    &__blocks {
        margin-left: 63px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__block {
            padding-top: 50px;
            display: flex;
            background: #FFFFFF;
            box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.03);
            width: 500px;
            margin-right: 20px;

            & .left {
                height: 100%;
                width: 40%;

                &__banner {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 31px;
                    background: #FF005C;
                    box-shadow: 0px 7px 20px rgba(255, 0, 92, 0.26);
                    height: 35px;
                    margin-bottom: 64px;

                    & p {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: #fff;
                        margin-left: 12px;
                    }
                }

                &__count {
                    position: relative;
                    margin-left: 36px;
                    width: max-content;
                    margin-bottom: 40px;

                    & img {
                        position: absolute;
                        z-index: 0;
                       
                        margin-left: 94%;
                        margin-top: 10px;
                    }
                    
                    & h2 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 48px;
                        color: #000000;
                    }

                    & p {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 21px;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }

                &__saleandprice {
                    display: flex;
                    margin-left: 38px;
                    margin-bottom: 45px;

                    & .sale {
                        background: #F9F9F9;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 4px;

                        & p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 24px;
                            color: #FF005C;
                            margin: 8px 13px;
                        }
                    }

                    & .price {
                        background: #FF005C;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 24px;
                            color: #FFFFFF;
                            margin: 8px;

                            & span {
                                font-weight: 600;
                                font-size: 16px;
                            }
                        }
                    }
                }

                .left__line {
                    height: 3px;
                    width: 100%;
                    background: #FF005C;
                }
            }

            & .right {
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                &__btn {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;

                    & .line {
                        width: 45%;
                        height: 3px;
                        background: #FF005C;
                    }

                    & .btn {
                        width: 55%;
                        height: 50px;
                        display: flex;
                        cursor: pointer;

                        & .img {
                            width: 20%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #BF0045;
                        }

                        & .text {
                            width: 80%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #FF005C;

                            & p {
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 21px;
                                color: #FFFFFF;
                                margin-right: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.discount {
    background-image: url("../../img/footer/bg-discount.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 488px 564px 178px 811px;

    & h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 45px;
        line-height: 54px;
        color: #FFFFFF;
    }

    & p {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 43px;
    }

    & .form {
        display: flex;
        position: relative;
        align-items: center;

        & .input {
            width: 470px;
            height: 70px;
            border: 2px solid rgba(255, 255, 255, 0.46);
            -webkit-transform: skew(-20deg);
            border-radius: 8px;

            & input {
                background: none;
                border: none;
                width: 100%;
                height: 100%;
                outline: none;
                padding: 23px 67px;
                -webkit-transform: skew(20deg);
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #fff;
                
    
                &::placeholder {
                    font-style: normal;
                    font-weight: 600;
                    color: rgba(255, 255, 255, 0.46);
                }
            }
        }

        & .btn {
            width: 187px;
            height: 50px;
            -webkit-transform: skew(316deg);
            background: #FF005C;
            border-radius: 8px;
            position: absolute;
            margin-left: 70%;
            cursor: pointer;

            & button {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                border: none;
                background: none;
                -webkit-transform: skew(45deg);

                & p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                    margin: 0 13px 0 0;
                }
            }
        }
        
    }
}
.nav {
    height: 130px;
    background: #080014;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        & img {
            margin-top: -172px;
        }
    }

    &__links {
        & a {
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            margin-right: 35px;

            &:hover {
                transition: .6s all;
                color: #FF008A;
            }
        }
    }

    &__inf {
        text-align: right;
        margin-right: 120px;

        & h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
        }

        & p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: rgba(255, 255, 255, 0.12);

            & span {
                font-weight: 500;
                color: rgba(255, 255, 255, 0.253);
            }
        }
    }
}

// =========================ModalPopup==========================
.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgba(15, 0, 37, 0.46);

    &.signin {

        .modal-block .form {
            margin-top: 70px;
        }

        .modal-block .form-btn {
            margin-top: 55px;
        }

        .modal-block .form-field:not(:first-child) {
            margin-top: 40px;
        }
    }

    &.b-vbucks {
        .modal-block {
            height: auto;
            padding-bottom: 68px;
        }
        .modal-block__header-text {
            color: #ffffff;
            line-height: 59px;
            text-transform: uppercase;
            font-size: 3.125rem;
            font-weight: 500;
            margin: 30px 0 0 0;
        }

        .modal-block .form {
            margin-top: 35px;
        }

        .modal-block .form-text {
            font-size: 1.25rem;
            color: #ffffff;
            text-transform: uppercase;
            line-height: 24px;
            text-align: left;
            margin-top: 40px;
            margin-bottom: 30px;
            
            &__upsize {
                font-weight: 600;
                font-size: 1.6rem;
            }
        }

        .modal-block .form-btn {
            margin-top: 0;
        }
    }

    .modal-block {
         max-width: 511px;
         width: 100%;
         height: 670px;
         background: linear-gradient(226.45deg, #090115 9.84%, #180435 141.7%);
         border-radius: 10px; 
         position: relative;
         padding: 0  90px;
         z-index: -1;

        &__close {
            cursor: pointer;
            position: absolute;
            top: 4%;
            right: 5%;
        }

         .liana {
             position: absolute;
             top: -5%;
             left: -4%;
             z-index: -1;
         }

         &__header {
             z-index: 1;
             padding-top: 80px;
             display: flex;
             align-items: center;

             &-link {
                 text-decoration: none;
                 color: rgba(255, 255, 255, 0.57);
                 font-size: 1.875rem;
                 font-weight: 500;
                 text-decoration: none;
                 line-height: 35px;
                 position: relative;

                 &.active {
                    color: #ffffff;

                    &::after {
                        display: block;
                        content:"";
                        background: #FF008A;
                        height: 2px;
                        width: 100%;
                        left: 0%;
                        position: absolute;
                        transition: width .3s ease-in-out;
                        border-radius: 1.5px;
                        margin-top: 12px;
                    }
                 }
             }

             &-text {
                color: rgba(255, 255, 255, 0.57);
                font-size: 0.9375rem;
                margin: 0 10px;
             }
        }

        .form {
            margin-top: 87px;

            &-field {
                position: relative;
                &:not(:first-child) {
                    margin-top: 50px;
                }
                .form-label {
                    font-weight: 500;
                    font-size: 1rem;
                    color: rgba(255, 255, 255, 0.66);
                    display: block;
                }

                .form-input {
                    margin-top: 14px;
                    padding-bottom: 7px;
                    line-height: 24px;
                    color: #ffffff;
                    font-size: 1.25rem;
                    width: 100%;
                    outline: none;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
                }

                .password {
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 2%;
                }
            }

            &-q {
                font-size: 0.875rem;
                line-height: 16px;
                color: rgba(255, 255, 255, 0.58);
                display: block;
                text-align: end;
                text-decoration: none;
                margin-top: 15px     ;
            }

            &-btn {
                color: #ffffff;
                border: none;
                border-radius: 8px;
                background-color: #FF008A;
                width: 100%;
                padding: 13px 0;
                margin-top: 86px;
                outline: none;
            }

            &-text {
                color: #ffffff;
                font-size: 0.9375rem;
                line-height: 17px;
                text-align: center;
                margin-top: 15px;
            } 

            &-link {
                color: #FF008A;
                font-weight: 600;
                text-decoration: none;
                margin-left: 3px;
            }
        }


    }
}
.update-password {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(15, 0, 37, 0.46);
    width: 100%;
    height: 100%;

    &__menu {
        width: 450px;
        height: 412px;
        margin: 15% auto;
        background: linear-gradient(226.45deg, #090115 9.84%, #180435 141.7%);
        border-radius: 10px;
        position: relative;
        padding: 79px 59px 42px 59px;

        & .liana {
            position: absolute;
            top: -28px;
            left: -22px;
        }

        & .close {
            position: absolute;
            right: 23px;
            top: 23px;
            cursor: pointer;
        }

        & h2 {
            font-style: normal;
            
            font-size: 34px;
            line-height: 40px;
            color: #FFFFFF;

            & span {
                font-weight: 500;
                border-bottom: 2px solid #FF008A;
                padding-bottom: 10px;
            }
        }

        & .form {
            margin-top: 60px;
            margin-bottom: 66px;

            & p {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: rgba(255, 255, 255, 0.66);
                margin-bottom: 13px;
            }

            & input {
                height: 38px;
                width: 100%;
                background: none;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.75);
                outline: none;
                padding: 7px 0;

                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }

        & button {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            background: #FF008A;
            border-radius: 8px;
            border: none;

            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}

.update-password-key {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(15, 0, 37, 0.46);
    width: 100%;
    height: 100%;

    &__menu {
        width: 450px;
        height: 412px;
        margin: 15% auto;
        background: linear-gradient(226.45deg, #090115 9.84%, #180435 141.7%);
        border-radius: 10px;
        position: relative;
        padding: 79px 59px 42px 59px;

        & .liana {
            position: absolute;
            top: -28px;
            left: -22px;
        }

        & .close {
            position: absolute;
            right: 23px;
            top: 23px;
            cursor: pointer;
        }

        & h2 {
            font-style: normal;
            
            font-size: 34px;
            line-height: 40px;
            color: #FFFFFF;

            & span {
                font-weight: 500;
                border-bottom: 2px solid #FF008A;
                padding-bottom: 10px;
            }
        }

        & .form {
            margin-top: 60px;
            margin-bottom: 36px;

            & p {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                margin-bottom: 30px;
            }

            & .input {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                & input {
                    width: 44px;
                    height: 44px;
                    background: #FFFFFF;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    padding: 7px 16px;
    
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    color: #000;
                }
            }

            & input {
                width: 44px;
                height: 44px;
                background: none;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.75);
                outline: none;
                padding: 7px 0;

                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }

        & button {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            background: #FF008A;
            border-radius: 8px;
            border: none;

            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}