* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: "Gilroy", sans-serif;
}
nav {
    background-color: #ffffff;

    .nav-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 82px;
        margin: 0 0 0 auto;

        &-logo {}

        .menu-icon {
            transform: rotate(180deg);
            display: none;
        }

        &__right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            &-options {
                display: flex;
                p {
                    display: inline;
                    color: #000000;
                    font-weight: 600;
                    font-size: 1.25rem;
                    cursor: pointer;

                    &:last-child {
                        margin-left: 15px;
                    }

                    &::after {
                        content: url("/img/nav/arrow-down.svg");
                        width: 5px;
                        height: 7px;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                }
            }

            &-btn {
                border: none;
                outline: none;
                font-size: 2.1875rem;
                height: 100%;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 500;
                background-color:  #FF008A;
                box-sizing: content-box;
                position: relative;
                overflow: hidden;
                padding-left: 0;
                margin-left: 85px;
                
                &::before, &::after {
                    vertical-align: middle;
                }

                &::before {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    content:url("../../img/nav/user.svg");
                    background-color: #B20060;
                    height: 120%;
                    width: 77px;
                    margin-right: 50px;
                }

                &::after {
                    display: inline-block;
                    content: url("../../img/nav/btn-effect.png");
                    width: 46px;
                    height: 98px;
                    margin-left:60px;
                }
            }
        }
    }

    .nav-items {
        .item {
            display: inline-block;
            height: 100%;
            color: #000000;
            font-size: 1.25rem;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            line-height: 4;
            font-weight: 600;

            &:not(:first-child) {
                margin-left: 35px;
            }

            &::after {
                display: block;
                content:"";
                background: #FF008A;
                height: 3px;
                width: 0%;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                transition: width .3s ease-in-out;
            }

            &:hover::after {
                width: 85%;
            }
        }   
    }
}

.fortnite-packages {
    background-image: url("../../img/fortnite-package/bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 312px 0 258px 0;

    & h2 {
        margin-left: 7.5%;
        margin-bottom: 112px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 48px;
        color: #fff;
    }

    &__blocks {
        margin-left: 7.5%;
        display: flex;
        
        &__block {
            height: 500px;
            width: 350px;
            background-image: url("../../img/fortnite-package/1.png");
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 70px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            & .sale {
                width: 160px;
                height: 37px;
                background-image: url("../../img/fortnite-package/bg-sale.png");
                background-size: contain;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                justify-content: center;

                font-style: italic;
                font-weight: 900;
                font-size: 23px;
                line-height: 29px;
                color: #FFFFFF;
                padding-bottom: 2px;
            }

            & .price {
                display: flex;
                align-items: flex-end;
                width: 100%;

                & .count {
                    width: 50%;
                    height: 50px;
                    background-image: url("../../img/fortnite-package/bg-price.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-style: normal;
                    font-weight: 700;
                    font-size: 23px;
                    line-height: 28px;
                    color: #FFFFFF;

                    & span {
                        font-size: 16px;
                        font-weight: 700;
                        margin-top: 3%;
                    }
                }

                & .buy {
                    display: flex;
                    height: 50px;
                    width: 50%;

                    & .img {
                        width: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #B20060;
                    }

                    & .text {
                        display: flex;
                        width: 80%;
                        align-items: center;
                        justify-content: center;
                        background: #FF008A;

                        & p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 21px;
                            color: #FFFFFF;
                            margin-right: 14px;
                        }
                    }
                }
            }
        }
    }
}

.vbucks {
    margin: 88px 120px 241px 77px;
}